:root {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    background: var(--color-rose-50, #FCF8F6);
    overflow-x: hidden;
}